@import "blog_design_system.css";

.main-container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      grid-template-columns: 1fr;
      grid-template-rows: 150px 1fr 1fr 150px;
   /* Step : setup named grid areas */
      grid-template-areas: 
        "hd"
        "images"
        "cont"
        "ft" ;
  }

  

  .header{
      /* Set elements grid-area here */
      grid-area: hd;
      padding: 10px;
    
  }

  .footer{
    /* Set elements grid-area here */
    grid-area: ft;
    padding: 10px;
  }
  
  .content{
    /* Set elements grid-area here */
    grid-area: cont;
    padding: 10px;
  }

  img {
    width: 100px;
    margin: 5px;
  }

  .image-slide {
    grid-area: images;
    /* display: flex;
    flex-wrap: wrap; */
  }



  @media(min-width:900px){
      .main-container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 150px 1fr 100px;
        /* Step : setup named grid areas */
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "images images cont cont cont cont cont cont"
        "ft ft ft ft ft ft ft ft" ;
      }

      img {
        width: 250px;
        
  }
}