.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      grid-template-columns: 1fr;
      /* grid-template-columns: 300px 300px 300px; */
      grid-template-rows: 150px 1fr 150px 150px;
      grid-template-areas: 
      "hd"
      "main"
      "sd"
      "ft";
      border: 2px solid blue;

  }
  .box{
  /* width: 250px;
    height: 150px; */
    
    border: 1px solid red;
    background: #F8FA9D;
    }

  .header{
    /* row start/column start/ row end/ column end */
    grid-area:hd;
  }

  .footer{
    grid-area: ft;  
  }

  .sidebar{
    grid-area: sd;
  }

  .content{
    grid-area: main;
  }

  .blogs-container {
    grid-area: main;
    display: grid;
    box-sizing: border-box;
    flex-basis: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media(min-width:600px){
      .container{
        grid-template-columns: repeat(8, 1fr);
        /* grid-template-columns: 300px 300px 300px; */
        grid-template-rows: 150px 1fr 100px;
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "sd main main main main main main main"
        "ft ft ft ft ft ft ft ft";
        max-width: 1000px;
      }
  }