.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      grid-template-columns: 1fr;
      grid-template-rows: 150px 1fr 1fr;
   /* Step : setup named grid areas */
      grid-template-areas: 
        "hd"
        "cont"
        "ft" ;
  
      border: 2px solid yellow;

  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }

  .header{
      /* Set elements grid-area here */
      grid-area: hd;
  }

  .footer{
    /* Set elements grid-area here */
    grid-area: ft;
  }
  .feature{
    /* Set elements grid-area here */
    display: none;
  }
  .content{
    /* Set elements grid-area here */
    grid-area: cont;
  }

  @media(min-width:900px){
      .container {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 150px 800px 100px;
    /* Step : setup named grid areas */
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "cont cont cont cont cont cont cont cont"
        "ft ft ft ft ft ft ft ft" ;
      }
  }